<header class="header">
  <div class="marquee">
    <div class="marquee__inner" aria-hidden="true">
      <span>Taylor's Version</span>
      <span>Taylor's Version</span>
      <span>Taylor's Version</span>
      <span>Taylor's Version</span>
    </div>
  </div>

  <div class="header-links">
    <a
      onClick="javascript:alert('Coming soon!');return false;"
      class="app-store-badge"
      href="https://apps.apple.com/app/taylors-version/id1605275753"
    >
      <img
        src="/assets/download-on-the-app-store-dark.svg"
        alt="Download Taylor's Version on the App Store"
      />
    </a>
  </div>
</header>
